<div class="row">
  <div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">Create career</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Create career</li>
        </ol>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="ignismyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">

        <div class="thank-you-pop">
          <img src="/assets/logos/Green-Round-Tick.png" alt="logon" />
          <h1 class="text-center">Success!</h1>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- end page title -->
   <form class="needs-validation add-product-form" novalidate="" action="/admin/career" method="POST"
    enctype="multipart/form-data">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Info</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="example-text-input" class="form-label">Title</label>
              <input class="form-control" type="text" name="title" required="required">
            </div>
            <div class="mb-3">
              <label for="example-text-input" class="form-label">Position</label>
              <input class="form-control" type="text" name="position" required="required">
            </div>
            <div class="mb-3">
              <label for="example-text-input" class="form-label">Expiration Work</label>
              <input class="form-control" type="text" id="exWork" name="expirationWork" required="required">
            </div>
          </div>
          <div class="mb-3">
            <label for="example-text-input" class="form-label">Salary</label>
            <input class="form-control" type="text" name="salary" required="required">
          </div>
          <div class="mb-3">
            <label for="example-text-input" class="form-label">Location</label>
            <input class="form-control" type="text" name="location" required="required">
          </div>
          <div class="mb-3">
            <label for="example-text-input" class="form-label">Time Title</label>
            <input class="form-control" type="text" id="timeAble" name="timeTitle" required="required">
          </div>
          <div class="mb-3">
            <label for="example-text-input" class="form-label">Time Work</label>
            <input class="form-control" type="text" id="timeWork" name="timeWork" required="required">
          </div>
          <div class="mb-3">
            <label class="form-label">Select Tags</label>
            <select class="form-control" data-trigger
              id="choices-multiple-remove-button" name="tags" placeholder="This is a placeholder" multiple>
              {{#each tags}}
              <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
           <div class="row">
          <div class="col-12">
            <label for="example-text-input" class="form-label">Thumbnail</label>
            <div>
              {{!-- <form class="dropzone" id="myForm">
                <div class="fallback"> --}}
                  <input name="image" id="thum" type="file">
                {{!-- </div>
                <div class="dz-message needsclick">
                  <div class="d-flex justify-content-center">
                  <label for="thum" role="button" >
                  <div class="mb-3 d-flex justify-content-center">
                    <i class="display-4 text-muted bx bx-cloud-upload"></i>
                  </div>
                  <h5 class="text-center">Drop files here or click to upload.</h5>
                  </label>
                  </div>
                </div> --}}
              {{!-- </form> --}}
            </div>
          </div> <!-- end col -->
        </div> <!-- end row -->

      </div>


    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Content</h4>
  </div>
  <div class="card-body">
    <textarea id="ckeditor-classic" name="content"></textarea>
  </div>
</div>
<div class="d-flex justify-content-end">
   <button class="btn btn-light" style="margin-right: 5px;" id="create1">Save and hidden</button>
     <button class="btn btn-primary" id="create2">Save and publish</button>
</div>
</div>
<!-- end col -->
</div>
</form>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>
<!-- pace js -->
<script src="/assets/libs/pace-js/pace.min.js"></script>

<!-- ckeditor -->
<script src="/assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

<!-- init js -->

<script src="/assets/libs/dropzone/min/dropzone.min.js"></script>
<script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
<!-- init js -->
<script src="/assets/js/pages/form-advanced.init.js"></script>

<script src="/assets/js/app.js"></script>
<script src="/js/career.js"></script>
<script src="/js/customUploadAdapter.js"></script>
