NODE_ENV=development
PORT=3001
MONGO_URI=mongodb://127.0.0.1/admintemplate
MONGO_URI_TESTS=mongodb://127.0.0.1/admintemplate
COOKIE_SECRET=abcd214124ef@202212
SESSION_SECRET=abcd214124ef@202212
BASE_URL=http://localhost:3001