<section>

    <!-- Carousel container -->
    <div id="my-pics" class="carousel slide" data-ride="carousel" style="width:100%;margin:auto;">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#my-pics" data-slide-to="0" class="active"></li>
            <li data-target="#my-pics" data-slide-to="1"></li>
            <li data-target="#my-pics" data-slide-to="2"></li>
        </ol>

        <!-- Content -->
        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="item active">
                <img src="/images/banner-web-3.webp" alt="Sunset over beach">
                <div class="carousel-caption">

                </div>
            </div>

            <!-- Slide 2 -->
            <div class="item">
                <img src="/images/banner-web-3.webp" alt="Rob Roy Glacier">
                <div class="carousel-caption">

                </div>
            </div>

            <!-- Slide 3 -->
            <div class="item">
                <img src="/images/banner-web-3.webp" alt="Longtail boats at Phi Phi">
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Previous/Next controls -->
        <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>
<div class="sectionnr nopadding wb">
    <div class="container">
        <form class="submit-form customform">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng XKLĐ" aria-describedby="basic-addon2">
                    </div>
                </div><!-- end col -->


                <div class="col-md-3 col-sm-6 col-xs-12">

                    <select class="selectpicker" data-style="btn-default" data-live-search="true">
                        <option>Tất cả các nước</option>
                        <option>Hà Quốc</option>
                        <option>Nhật Bản</option>
                        <option>Singapore</option>
                        <option>Macao</option>
                        <option>Australia - Úc</option>
                    </select>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <button class="btn btn-primary btn-block">Tìm kiếm</button>
                </div><!-- end col -->
            </div><!-- end row -->
        </form>
    </div><!-- end container -->
</div><!-- end section -->

<div class="section lb">
    <div class="container">
        <div class="section-title text-center clearfix">
            <h4>Đơn hàng XKLĐ mới nhất</h4>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
        </div>

        <div class="all-jobs job-listing clearfix">
            <div class="job-title hidden-sm hidden-xs"><h5>Featured</h5></div>
            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_06.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge freelancer-badge">Freelancer</div>
                        <h3><a href="job-single.html" title="">Development Team Lead (Group Wide Technology)</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Amanda Sun</a></span>
                            <span>In : <a href="#">Development</a></span>
                            <span>Date : 21.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Melbourne</p>
                            <small>Australia</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$1200 - $1300</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_01.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge freelancer-badge">Freelancer</div>
                        <h3><a href="job-single.html" title="">Make my website responsive device compatible</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Amanda Sun</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 16.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Hanua</p>
                            <small>Germany</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$200 - $340</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_02.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge part-badge">Part Time</div>
                        <h3><a href="job-single.html" title="">Hiring Online English Teachers</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Bob Sturan</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 14.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Antalya</p>
                            <small>Turkey</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$650/mo</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_03.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge full-badge">Full Time</div>
                        <h3><a href="job-single.html" title="">Looking Graphic Designer (Logo + UI)</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Kim Danson</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 13.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>New York</p>
                            <small>United States</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$1200/mo</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_04.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge freelancer-badge">Freelancer</div>
                        <h3><a href="job-single.html" title="">Are you Typography Expert?</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Teressa Lisbon</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 11.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Kash</p>
                            <small>Russia</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$56 - $90</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_05.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge partnership-badge">Partnership</div>
                        <h3><a href="job-single.html" title="">Looking WordPress Developer for ThemeForest</a></h3>
                        <small>
                            <span>Publisher : <a href="#">John DOE</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 08.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Austin</p>
                            <small>United States</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>-</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">Contact</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_02.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge part-badge">Part Time</div>
                        <h3><a href="job-single.html" title="">Hiring Online English Teachers</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Bob Sturan</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 14.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Antalya</p>
                            <small>Turkey</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$650/mo</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_03.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge full-badge">Full Time</div>
                        <h3><a href="job-single.html" title="">Looking Graphic Designer (Logo + UI)</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Kim Danson</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 13.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>New York</p>
                            <small>United States</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$1200/mo</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_04.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge freelancer-badge">Freelancer</div>
                        <h3><a href="job-single.html" title="">Are you Typography Expert?</a></h3>
                        <small>
                            <span>Publisher : <a href="#">Teressa Lisbon</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 11.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Kash</p>
                            <small>Russia</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>$56 - $90</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">Make Offer</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->

            <div class="job-tab">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="post-media">
                            <a href="job-single.html"><img src="upload/job_05.jpg" alt="" class="img-responsive img-thumbnail"></a>
                        </div><!-- end media -->
                    </div><!-- end col -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="badge partnership-badge">Partnership</div>
                        <h3><a href="job-single.html" title="">Make my website responsive device compatible</a></h3>
                        <small>
                            <span>Publisher : <a href="#">John DOE</a></span>
                            <span>In : <a href="#">Web Design</a></span>
                            <span>Date : 08.06.2016</span>
                        </small>
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta">
                            <p>Austin</p>
                            <small>United States</small>
                        </div><!-- end meta -->
                    </div><!-- end col -->

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="job-meta text-center">
                            <h4>-</h4>
                            <a href="#" class="btn btn-primary btn-sm btn-block">View Job</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end job-tab -->
        </div><!-- end alljobs -->

        <div class="loadmorebutton text-center clearfix">
            <a href="#" class="btn btn-primary" id="loadMore">Load More Jobs</a>
        </div><!-- end loadmore -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="upload/about.jpg" alt="" class="img-responsive img-rounded">
            </div>

            <div class="col-md-6">
                <div class="section-title m20b text-left clearfix">
                    <h4>Why Choose Us?</h4>
                    <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla.</p>
                </div>

                <div class="about-widget">
                    <h5>How do earn money?</h5>
                    <ul class="customlist">
                        <li>Donec venenatis ante a imperdiet maximus. Sed in justo porta, rutrum velit non, blandit lorem.</li>
                        <li>Aenean pretium tortor eget nisl accumsan posuere. Aliquam congue metus eget quam scelerisque rhoncus.</li>
                        <li>Donec vestibulum lectus a nisi vestibulum, sed vehicula est finibus. Proin facilisis tortor sed leo suscipit, quis pellentesque dui luctus.</li>
                    </ul>
                </div>
            </div>
        </div><!-- end row -->

        <hr class="largeinvis1">

        <div class="row whoweare">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="upload/about_01.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="col-md-6">
                        <img src="upload/about_02.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                </div><!-- end row -->

                <div class="about-widget">
                    <h5>Who We Are?</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="upload/about_03.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="col-md-6">
                        <img src="upload/about_04.jpg" alt="" class="img-responsive img-rounded">
                    </div>
                </div><!-- end row -->

                <div class="about-widget">
                    <h5>What We Do?</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="section lb">
    <div class="container">
        <div class="section-title text-center clearfix">
            <h4>Looking for Experts?</h4>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
        </div>

        <div class="row freelancer-list">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_09.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Jenny Lisbon</a></h4>
                        <ul class="list-inline">
                            <li><small>Graphic Designer</small></li>
                            <li><small>21 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_08.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Amanda Martin</a></h4>
                        <ul class="list-inline">
                            <li><small>Blogger (Article Writer)</small></li>
                            <li><small>33 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_07.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Semanta Klores</a></h4>
                        <ul class="list-inline">
                            <li><small>Web Developer</small></li>
                            <li><small>51 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_06.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Martin Ands</a></h4>
                        <ul class="list-inline">
                            <li><small>Web Anaylzer</small></li>
                            <li><small>77 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_05.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Seden Golcek</a></h4>
                        <ul class="list-inline">
                            <li><small>Web Designer</small></li>
                            <li><small>12 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="freelancer-wrap row-fluid clearfix">
                    <div class="col-md-3 text-center">
                        <div class="post-media">
                            <img class="img-responsive" src="upload/testi_04.png" alt="">
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-9">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="#">Aziz Martines</a></h4>
                        <ul class="list-inline">
                            <li><small>SEO Expert</small></li>
                            <li><small>42 Jobs Done</small></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris iaculis.</p>
                    </div><!-- end col -->
                    <a href="#" class="btn btn-primary"><span class="oi" data-glyph="link-intact"></span></a>
                </div><!-- end freelancer-wrap -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="loadmorebutton margintop text-center clearfix">
            <a href="#" class="btn btn-default">View All Freelancers</a>
        </div><!-- end loadmore -->
    </div><!-- end container -->
</div><!-- end section -->
